<section data-ng-controller="HomeController" layout="row" flex>
    <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" layout-fill layout-margin layout-padding data-ng-include="'/modules/core/views/champions.client.view.html'">
    </md-sidenav>
    <md-content flex layout="column" layout-fill layout-margin layout-padding>
        <md-toolbar>
            <h2 class="md-toolbar-tools">Items</h2>
        </md-toolbar>
        <md-content layout-padding>
            <input type="search" ng-model="itemFilter" placeholder="Find Item..." aria-label="filter items" />
            <md-list class="items">
                <md-list-item class="item" ng-repeat="item in items | filter:itemFilter as results">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/{{item.id}}.png" height="64px" />
                    <md-tooltip>
                        {{item.description}}
                    </md-tooltip>
                </md-list-item>
                <md-list-item class="animate-repeat" ng-if="results.length == 0">
                    <strong>No results found...</strong>
                </md-list-item>
            </md-list>
        </md-content>
        <md-toolbar>
            <h2 class="md-toolbar-tools">Charts</h2>
        </md-toolbar>
        <md-content flex layout-padding>
        </md-content>
    </md-content>
</section>
