<section data-ng-controller="HomeController" layout="row" flex>
    <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" layout-fill layout-margin layout-padding data-ng-include="'/modules/core/views/champions.client.view.html'">
    </md-sidenav>
    <md-content flex layout="column" class="overflowTooltips" layout-fill layout-margin layout-padding>
        <md-toolbar>
            <h2 class="md-toolbar-tools">Ranking</h2>
        </md-toolbar>
        <div data-ng-include="'/modules/core/views/items.client.view.html'" ng-if="!selectedItem">
        </div>
        <div class="selectedItem" data-ng-include="'/modules/core/views/selectedItem.client.view.html'" ng-if="selectedItem"></div>
    </md-content>
</section>
